
*{margin: 0;padding: 0;}

*,*::before,*::after{
  box-sizing: border-box;
}

html,body{
  min-height: 100vh;
}


body{
  user-select: none;
  -webkit-user-select: none;
  background-color: rgb(250, 245, 245);
  color: black;
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  font-size: 16px;

  display: grid;
  align-content: center;
}
.darkMode{
  background-color: rgb(20, 19, 19);
  color: white;
}



button{
  all: unset;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  padding: .5rem 1rem;
  border: 1px solid ;
  border-radius: 10px;
  text-align: center;
}

button,img,span{
  cursor: pointer;
}

span[correct]{
  background-color: rgb(112, 209, 112);
}
span[incorrect]{
  background-color:rgb(238, 55, 55);
}
div[disable='true'] {
    pointer-events: none;
}
button[disabled] {
    opacity: .5;
}


h1{
  font-size: .8rem;
}


#app{
  background-color: inherit;
  color: inherit;
}

main{
  background-color: inherit;
  color: inherit;
}

dialog{
  width: min(100% , 700px);
  margin: auto;
  border-radius: 10px;
  background-color: inherit;
  color: inherit;
}
dialog > div{
  padding: .8rem;
  display: grid;
  gap: 1rem;
}

input,select{
  padding: .8rem 1.6rem;
  background-color: inherit;
  color: inherit;
}